<div class="top-buffer">
    <button class="btn btn-success" ng-click="editUser('new')">
        <span class="glyphicon glyphicon-user"></span>  Create New Event
    </button>
    <hr>

    <h3 ng-show="edit">Create New Event:</h3>

    <h3 ng-hide="edit">Edit Event:</h3>

    <form class="form-horizontal">
        <hr>
        <h4>Ville de départ:</h4>

        <div class="form-group">
            <label class="col-sm-2 control-label">Commune:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="cDepart" ng-disabled="!edit" placeholder="Commune">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Code postal:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="cpDepart" ng-disabled="!edit" placeholder="Code postal">
            </div>
        </div>
        <hr>
        <h4>Ville d'arrivée:</h4>

        <div class="form-group">
            <label class="col-sm-2 control-label">Commune:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="cArrivee" ng-disabled="!edit" placeholder="Commune">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Code postal:</label>

            <div class="col-sm-10">
                <input type="text" ng-model="cpArrivee" ng-disabled="!edit" placeholder="Code postal">
            </div>
        </div>
        <hr>
        <h4>Tarif et Date</h4>

        <div class="form-group">
            <label class="col-sm-2 control-label">Date de départ:</label>

            <div class="col-sm-10">
                <input type="date" ng-model="dateDepart" ng-disabled="!edit" placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Prix:</label>

            <div class="col-sm-10">
                <input type="number" min="0.0" step="0.01" ng-model="prix" ng-disabled="!edit" placeholder="Prix">
            </div>
        </div>
    </form>

    <hr>
    <button class="btn btn-success" ng-disabled="error || incomplete">
        <span class="glyphicon glyphicon-save"></span>  Save Changes
    </button>
</div>