<div class="top-buffer">
    <button class="btn btn-success" ng-click="editEvent('new')">
        <span class="glyphicon glyphicon-user"></span>  Create New Event
    </button>
    <hr>

    <h3 ng-hide="edit">Create New Event:</h3>

    <form class="form-horizontal">
        <hr>
        <div class="form-group">
            <label class="col-sm-4 control-label">Ville de départ</label>

            <div class="col-sm-8">
                <select ng-model="event.depart">
                    <option ng-repeat="item in cities" value="{{item}}">{{item.cp}} - {{item.nom}}</option>
                </select>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label class="col-sm-4 control-label">Ville d'arrivée</label>

            <div class="col-sm-8">
                <select ng-model="event.arrivee">
                    <option ng-repeat="item in cities" value={{item}}>{{item.cp}} - {{item.nom}}</option>
                </select>
            </div>
        </div>
        <hr>

        <div class="form-group">
            <label class="col-sm-4 control-label">Date de départ:</label>

            <div class="col-sm-8">
                <input type="date" ng-model="event.date" placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Prix:</label>

            <div class="col-sm-8">
                <input type="number" min="0.0" step="0.01" ng-model="event.prix" placeholder="Prix">
            </div>
        </div>
    </form>
</div>